#root {
  height: 100vh;
}

#createlogin {
  min-width: 350px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  padding: 20px;
  background-color: rgba(64, 71, 87, 0.481);
  border-radius: 20px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    letter-spacing: 0.05em;
    font-weight: 550;
  }
  h1,
  h2 {
    text-align: center;
  }
  a {
    margin-right: 22px;
  }
  animation: loadin 2s;
}

@keyframes loadin {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#userdirect {
  display: flex;
  flex-direction: row;
  align-items: center;
  a h3 {
    // text-align: center;
    // text-decoration: underline;
    width: 100%;
    // padding: 8px;
    color: rgba(127, 212, 255, 0.733);
    // border: solid 3px rgba(127, 212, 255, 0.733);
    // border-radius: 32px;
  }
}
#logincreate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    margin-bottom: 4px;
  }
  hr {
    // margin: 24px auto 20px;
    width: 80%;
  }
}

.input-container {
  width: 80%;
}

.allinputfields {
  border-radius: 6px;
  border: none;
  width: 100%;
  padding: 8px;
  margin-bottom: 4px;
  background-color: rgb(66, 73, 90);
  color: rgba(246, 247, 249, 0.8);
}

.allinputfields::placeholder {
  text-align: center;
}

#allbuttons {
  width: 160px;
  margin-top: 5px;
  border-radius: 18px;
  padding: 10px 5px;
  border: none;
  background-color: rgba(127, 212, 255, 0.733);
  .progress-bar-edit-button,
  .progress-bar-delete-button {
    margin: 50px;
  }
}

#allbuttons:hover {
  cursor: pointer;
  transform: translate(1px, 1px);
  color: white;
}
.allinputfields::placeholder {
  text-align: center;
}

#gobackbutton {
  text-align: center;
  margin-left: 10px;
  text-decoration: underline;
  color: rgba(127, 212, 255, 0.733);
  font-weight: bolder;
}
