#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(
    to bottom right,
    rgba(127, 212, 255, 0.733),
    rgb(89, 132, 167),
    rgb(46, 87, 120),
    rgb(47, 54, 71)
    );
    color: rgba(246, 247, 249, 0.945);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  //^Header related elements contained in Body
  .header-container {
  background: linear-gradient(
    to bottom right,
    rgb(79, 95, 131),
    rgb(45, 52, 71)
  );
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);

  .profile-pic {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 22px;
    border: solid 3px;
  }
  .profile-pic:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.1s ease-out;
  }
  h3,
  h1 {
    letter-spacing: 0.05em;
    font-weight: 550;
    text-align: center;
  }
  .add-task-button {
    width: 80px;
    height: 80px;
    filter: invert(0.1) sepia(100%) hue-rotate(180deg) brightness(300%)
      saturate(420%) opacity(80%);
    border-radius: 22px;
    border: solid 3px;
    transition: 0.5s ease-out;
  }
  .add-task-button:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(180deg);
    transition: 0.5s ease-out;
  }

  .header-contents {
    width: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


//^ Container for window under the header containing sidebar and main table
.sidebar-taskboard-container {
  height: 100%;
  display: flex;
  overflow: hidden;
}

//^ Sidebar container
.main-side-container {
  display: flex;
  min-width: 128px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    rgb(102, 191, 226),
    rgb(131, 200, 227)
  );
  img {
    margin: 20px 0;
  }
  img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.1s ease-out;
  }

  #friends-button {
    filter: invert(0.04) sepia(100%) hue-rotate(180deg) brightness(300%)
      saturate(420%) opacity(80%);
    padding: 5px;
    border: solid 3px;
    border-radius: 16px;
  }

  #camera-button {
    filter: invert(0.04) sepia(100%) hue-rotate(180deg) brightness(300%)
      saturate(420%) opacity(80%);
    max-width: 72px;
    border: solid 3px;
    border-radius: 16px;
  }
  
   #complete-button {
    filter: invert(0.04) sepia(100%) hue-rotate(180deg) brightness(300%) saturate(420%) opacity(80%);
    max-width: 72px;
    border: solid 3px;
    border-radius: 16px;
  }
  //? Remove line 126 and uncomment below for a different hover effect on the complete/habits finished icon
  // .complete-span {
  //   margin: 20px;
  //   display: flex;
  //   border: solid 3px white;
  //   max-height: 72px;
  //   border-radius: 16px;
  // }

  // .complete-span:hover {
  //   cursor: pointer;
  //   transform: scale(1.1);
  //   transition: 0.1s ease-out;
  // }

  #sign-out-button {
    filter: invert(0.04) sepia(100%) hue-rotate(180deg) brightness(300%)
      saturate(420%) opacity(80%);
    max-width: 72px;
    border: solid 3px;
    border-radius: 16px;
  }
}

.side-buttons {
  max-width: 60px;
}

//^ Main table container/task-board where task/habbit cards are placed
.task-board {
  height: 100%;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  justify-items: center;
  animation: fly-in-right 3s;
  overflow-y: scroll;
}

//^ Task/Habit Cards
.task {
  border: 1px solid;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 24px auto;
  width: 40vw;
  min-width: 300px;
  max-width: 450px;
  max-height: 450px;
  padding: 24px;
  border-radius: 14px;
  border: none;
  background-color: rgba(64, 71, 87, 0.481);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  h3,
  h4 {
    letter-spacing: 0.05em;
    font-weight: 500;
  }
}

//^ text in task cards
#start-date,
#end-date,
#days-left {
  margin: 4px;
}

//^ horizontal rule/line in task cards
hr {
  width: 80%;
  margin: 16px;
}

//^ Pop-up Window *Container* after clicking New Task Icon (Top-Right corner) & Edit Button in Task Cards
.new-task-popup,
.edit-task-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: slow-load-in 1s ease-in;
  background-color: rgb(
    0,
    0,
    0,
    0.2
  ); /* makes the background semi transparent black */

  display: flex;
  align-items: center;
  justify-content: center;
  input {
    background-color: rgb(66, 73, 90);
    border-radius: 6px;
    border: none;
    width: 80%;
    padding: 8px;
    margin-bottom: 4px;
    color: rgba(246, 247, 249, 0.8);
  }
  input::placeholder {
    text-align: center;
  }
  button {
    width: 40%;
    margin-top: 5px;
    border-radius: 18px;
    padding: 10px 5px;
    border: none;
    background-color: rgba(127, 212, 255, 0.733);
  }
  .new-task-close-button {
    width: 24px;
    margin: 5px;
    border-radius: 6px;
    padding: 3.5px 5px 6.5px;
    border: none;
    background-color: rgba(127, 212, 255, 0.733);
  }
}

//^ Pop-up Window *Contents* after clicking New Task Icon (Top-Right corner)
.new-task-popup-inner {
  width: 40%;
  min-width: 280px;
  max-width: 470px;
  position: relative;
  padding: 36px;
  background-color: rgb(44, 48, 59);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  align-items: center;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    letter-spacing: 0.05em;
    font-weight: 550;
  }

  .form {
    width: 100%;
  }

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    // min-width: 280px;
    align-items: center;
  }

  label {
    align-self: flex-start;
  }

  h3 {
    margin-bottom: 4px;
  }

  input {
    width: 100%;
    text-align: center;
  }
}

//^ Pop-up Window *Contents* after clicking Edit Button in Task Cards
.edit-task-popup-inner {
  width: 40%;
  position: relative;
  padding: 36px;
  background-color: rgb(44, 48, 59);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  align-items: center;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.task-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  align-items: center;
  text-align: center;
  background-color: rgb(44, 48, 59);
  label {
    align-self: flex-start;
    margin-left: 26px;
  }
}

.new-task-close-button,
.edit-task-close-button {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 16px;
  right: 16px;
  border-radius: 8px;
  border: none;
  background-color: rgb(0, 168, 162);
}

//^ Progress Bar that updates after pressing Update Progress Button
.progress-bar {
  /* width of the progress bar */
  width: 80%;
  height: 20px;
  /* default color of the progress bar */
  // background-color: #f3f3f3;
}

// .progress-bar-delete-button {
//   position: relative;
//   top: 0;
//   right: 0;
// }

// .progress-bar-edit-button {
//   position: relative;
//   top: 0;
//   left: 0;
// }

//^ Animation for window changes
@keyframes fly-in-top {
  from {
    transform: translateY(-360px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slow-load-in {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fly-in-right {
  from {
    transform: translateX(360px);
  }
  to {
    transform: translateX(0);
  }
}
